
*,
::after,
::before {
    box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}
b {
    font-weight: bolder;
}

img {
    vertical-align: middle;
}
label {
    display: inline-block;
}
button {
    border-radius: 0;
}
button:focus:not(:focus-visible) {
    outline: 0;
}
button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    text-transform: none;
}
[role="button"] {
    cursor: pointer;
}
[list]::-webkit-calendar-picker-indicator {
    display: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}
::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
    padding: 0;
}
::-webkit-inner-spin-button {
    height: auto;
}
[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
}
::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
    padding: 0;
}
::file-selector-button {
    font: inherit;
}
::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}
[hidden] {
    display: none !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
    max-height: 75vh;
    object-fit: cover;
}
.container,
.container-fluid,
.container-lg {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container,
    .container-lg {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container,
    .container-lg {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container,
    .container-lg {
        max-width: 1320px;
    }
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}
.col {
    flex: 1 0 0%;
}
@media (min-width: 992px) {
    .col-lg {
        flex: 1 0 0%;
    }
}
.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}
.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.col-3 {
    flex: 0 0 auto;
    width: 25%;
}
.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}
.col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}
.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.col-9 {
    flex: 0 0 auto;
    width: 75%;
}
.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}
.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
@media (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
@-webkit-keyframes progress-bar-stripes {
    0% {
        background-position-x: 1rem;
    }
}
@keyframes progress-bar-stripes {
    0% {
        background-position-x: 1rem;
    }
}
@-webkit-keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}
@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: none;
    }
}
@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: none;
    }
}
.w-25 {
    width: 25% !important;
}
.w-50 {
    width: 50% !important;
}
.w-75 {
    width: 75% !important;
}
.w-100 {
    width: 100% !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}
.mb-2 {
    margin-bottom: 0.5rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}
.ms-0 {
    margin-left: 0 !important;
}
.ms-1 {
    margin-left: 0.25rem !important;
}
.ms-2 {
    margin-left: 0.5rem !important;
}
.ms-3 {
    margin-left: 1rem !important;
}
.ms-4 {
    margin-left: 1.5rem !important;
}
.ms-5 {
    margin-left: 3rem !important;
}
.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
}
.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}
.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}
.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}
.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
@media (min-width: 992px) {
    .mb-lg-0 {
        margin-bottom: 0 !important;
    }
    .mb-lg-1 {
        margin-bottom: 0.25rem !important;
    }
    .mb-lg-2 {
        margin-bottom: 0.5rem !important;
    }
    .mb-lg-3 {
        margin-bottom: 1rem !important;
    }
    .mb-lg-4 {
        margin-bottom: 1.5rem !important;
    }
    .mb-lg-5 {
        margin-bottom: 3rem !important;
    }
    .ms-lg-0 {
        margin-left: 0 !important;
    }
    .ms-lg-1 {
        margin-left: 0.25rem !important;
    }
    .ms-lg-2 {
        margin-left: 0.5rem !important;
    }
    .ms-lg-3 {
        margin-left: 1rem !important;
    }
    .ms-lg-4 {
        margin-left: 1.5rem !important;
    }
    .ms-lg-5 {
        margin-left: 3rem !important;
    }
    .px-lg-0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .px-lg-1 {
        padding-right: 0.25rem !important;
        padding-left: 0.25rem !important;
    }
    .px-lg-2 {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }
    .px-lg-3 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
    .px-lg-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
    .px-lg-5 {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }
    .py-lg-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .py-lg-1 {
        padding-top: 0.25rem !important;
        padding-bottom: 0.25rem !important;
    }
    .py-lg-2 {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }
    .py-lg-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .py-lg-4 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    .py-lg-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}


body{
    color: #1d1d1f;
}

main{
    overflow: hidden;
}


.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-wrapper {
    transform: translate3d(0, 0, 0);
}
.swiper-container-pointer-events {
    touch-action: pan-y;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.swiper-slide img{
  border-radius: 16px;
}

.swiper-container-3d {
    perspective: 1200px;
}
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-wrapper {
    transform-style: preserve-3d;
}
:root {
    --swiper-navigation-size: 44px;
}
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    width: 56px;
    height: 56px;
    background: #FED442 url(../img/game_screenshots/arrow_trans.svg);
    background-size: cover;
    border-radius: 100%;
}

.swiper-button-next{
  transform: rotate(-90deg);
}

.swiper-button-prev{
  transform: rotate(90deg);
}

.swiper-button-prev {
    left: 10px;
    right: auto;
}

.swiper-button-next {
    right: 10px;
    left: auto;
}

@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg);
    }
}
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
.product-thumbs .swiper-slide img {
    object-fit: cover;
    cursor: pointer;
}
.product-thumbs .swiper-slide-active img {

}

.product-thumbs .swiper-slide{
  position: relative;
  padding: 8px;
  box-sizing: border-box;
}

.product-thumbs .swiper-slide::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FED442;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  border-radius: 24px;
  transition: all 0.6s cubic-bezier(0.76, 0, 0.24, 1);

}

.product-thumbs .swiper-slide-active::after{
  opacity: 1;
}


.product-slider .swiper-button-next:after,
.product-slider .swiper-button-prev:after {
    font-size: 20px;
    color: #1d1d1f;
    font-weight: 700;
}



body{
    overflow-x: hidden;
}


/* HERO */

#hero{
  background: url(../img/game_screenshots/hero.jpg);
  background-size: cover;
  background-position: center;
}

#hero nav{
    position: relative;
    z-index: 1;
}

#hero::after,
#hero .col-lg-12::before{
  display: none;
}

.hero-image{
  
}

#hero figure img{
  opacity: 0;
}



#slideshow{
  padding-top: 8rem;
  padding-bottom: 4rem;
  background: url(../img/bg_blurred.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 99;
}

#slideshow .row{
  margin-bottom: 12rem;
}


#faqs{
    background: #fff;
    background: linear-gradient(0deg, rgba(255,255,255,1) 80%, rgba(178,223,255,1) 100%);
  padding-top: 16rem;
  padding-bottom: 16rem;
  box-shadow: none;
  z-index: 999;
}

#faqs::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20rem;
    transform: translateY(-50%);
    background: url(../img/game_screenshots/clouds.png);
    background-size: auto 100%;
}


  @keyframes clouds {
    0% {
        background-position: auto 100%;
    }
    100% {
        background-position: auto 0%;
    }
  }


#faqs h2 + .small{
  margin-bottom: 8rem;
}

.card.yellow.about_the_game{
  background-image: url(../img/game_screenshots/about_the_game_bg.png);
  background-size: cover;
  background-position: center;
  margin-top: -15%;
  padding-bottom: .8rem;
}

.card.yellow .btn{
  margin-top: 6rem;
  margin-bottom: 8rem;
}

.card.small figure img{
  width: 100%;
  max-width: 10vw;
  min-width: 120px
}

nav,
nav a{
  color: white;
}

#hero a:not(.btn)::after{
  background: white;
}

#hero a:not(.btn):hover{
  color: white;
}










.faq-entries {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

ol.faq-entries .faq-item {
  padding-left: 0;
  margin: 0;
  counter-increment: step-counter;
  border: 2px solid transparent;
  background: #f2f6ff;
  border-radius: 5.6rem;
  margin-bottom: 3.2rem;
    transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

ol.faq-entries .faq-item:hover{
    border: 2px solid #ffc107;
}

ol.faq-entries .faq-item.active{
    background: #ffc107;
}

.faq-entries .faq-question {
  cursor: pointer;
  position: relative;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  padding: 2.4rem 9.2rem 2.4rem 3.2rem;
  font-size: 2.4rem;
  transition: color .3s ease;
  margin: 1.6rem auto;
  cursor: pointer;
}
.question{
    cursor: pointer;
}



.faq-entries .faq-question::after,
.faq-entries .faq-question::before{
  content: "";
  position: absolute;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2.4rem;
  height: .4rem;
  transition: transform .8s cubic-bezier(0.33, 1, 0.68, 1);
  background: #ffc107;
  border-radius: .8rem;
}

.faq-entries .faq-question.active::after{
  transform: translateY(-50%) rotate(0deg);
}

.faq-entries .faq-question::before{
    transform: translateY(-50%) rotate(90deg);
}


.faq-entries .faq-question.active::after{
    transform: translateY(-50%) rotate(-180deg);
    background: #fff;
}

.faq-entries .faq-question.active::before{
    transform: translateY(-50%) rotate(-180deg);
    background: #fff;
}


.panel {
  padding: 0 2.4rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-out;
  font-size: 2.4rem;
  line-height: 1.5;
  
}

ol.faq-entries .faq-question .question {
  display: inline-block;
  max-width: 90%;
  padding-left: 0.5rem;
  transition: color .3s ease;
}

.panel li{
  list-style: initial;
  margin-left: 1.6rem;
  list-style: none;
  padding-left: 1.6rem;
  position: relative;
}

.panel li::before{
    content: "";
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 9px;
    left: 0;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
    background: white;
    border-radius: 100%;
    margin-left: 0;
}


#support_us{
  background: url(../img/bg_blurred.jpg);
  background-size: cover;
  box-shadow:inset 0 100px 200px 100px rgba(255,255,255,1), inset 0 -100px 200px 100px rgba(255,255,255,1);
  position: relative;
  z-index: 99;
}

#support_us .card{
  position: relative;
  z-index: 999;
}

.highlights{
  padding-bottom: 0rem;
}

#support_us svg{
    width: 240px;
}

.how_to_support_us{
    overflow: hidden;
}

.how_to_support_us figure{
    z-index: -1;
}

.how_to_support_us .hearts_bg{
    position: absolute;
    width: 100% !important;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(3.2);
    z-index: -1;
    opacity: .4;

}

.faq-entries .faq-answer{
    padding: 0 4rem 0;
}

.faq-entries .faq-answer > *:first-child{
    margin-top: 0;
}

.faq-entries .faq-answer > *:last-child{
    margin-bottom: 4rem;
}


@media (max-width: 1023px){


  #hero .hero-image{
    display: none;
  }
  
  #hero nav{
    padding-top: 0;
    padding-bottom: 4rem;
  }

  #hero nav li:first-child{
    margin-bottom: 15vh;
  }

  #slideshow .row{
    margin-bottom: 6rem;
  }

  #faqs{
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  #faqs::before, #faqs::after{
    height: 10rem;
  }

 

}


.faq-answer a{
    text-decoration: underline;
}

.faq-answer a:hover{
    text-decoration: underline;
}




#bgvid{
    object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#hero figure.game_logo img{
    opacity: 1;
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
}


@media (max-width: 1023px){
    #hero figure.game_logo img{
        opacity: 0;
    }
}

#hero figure.game_logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
    z-index: 99;
}


h1{
    margin-top: 5.6rem;
    margin-bottom: 3.2rem;
    font-weight: initial;
}

nav h1 p{
    margin: 0;
}

nav .mobile-only{
    display: none;
}

nav .mobile-only img{
    width: 66.66%;
    display: block;
    margin: auto;
}

@media (max-width: 991px){
    nav .desktop-only{
        display: none
    }
    nav .mobile-only{
        display: block;
    }
}

#faqs li,
p{
    font-size: 1.8rem;
    margin: 3.2rem auto;
}

#faqs li{
    margin: 1.6rem auto;
}

#faqs strong{

}

.strong_parent{
    margin-top: 4rem;
}

.strong_parent,
.pre_list_description{
    margin-bottom: 0;
}

.strong_parent + p{
    margin-top: 1.6rem;
}

h2{
    font-size: 2.4rem;
    margin-top: 6.4rem;
}

p.small{
    font-size: 1.1rem;
    margin: auto 0;
}


.xrpl_integration{
    display: flex;
  align-items: center;
  justify-content: center;
}

.xrpl_integration figure{
    background: #fff;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    position: relative;
    padding: 0;
    margin: 0;
}

.xrpl_integration.crystal figure{
    background: #d1c3ff;
}

.xrpl_integration img{
    width: 100%;
    height: auto;
    pointer-events: none;
}

@media (min-width: 992px){
    .xrpl_integration img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) scale(1.6);
    }
}


.xrpl_integration h1{
    background: #fff;
    padding: 2.4rem 3.2rem;
    border-radius: 8rem;
    line-height: 1;
    display: inline-block;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.1);
    margin: 0;
}

@media (max-width: 991px){
    .xrpl_integration{
        text-align: center;
    }
    .xrpl_integration h1{
        padding: 1.6rem 2.4rem;
    }
}


.xrpl_integration:not(.header) h1,
.xrpl_integration strong{
    background: rgb(251,235,175);
    background: linear-gradient(90deg, rgba(255,53,254,1) 0%, rgba(251,235,175,1) 100%);
    background-size: 150%;
    color: #fff;
    font-family: 'axiformabold', Geneva, Verdana, sans-serif;
    margin-bottom: 3.2rem;
}

.xrpl_integration strong{
    background-size: 175%;
    padding: 0 4px;
    font-family: 'axiformamedium', Geneva, Verdana, sans-serif;
    font-weight: initial;
    position: relative;
    background: transparent;
    color: #1d1d1f;
}

.xrpl_integration strong::after{
    content: "";
    width: 100%;
    height: 4px;
    background: #ff35fe;
    background: linear-gradient(90deg, rgba(255,53,254,1) 0%, rgba(251,235,175,1) 100%);
    background-size: 175%;
    border-radius: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.xrpl_integration p{
    font-size: 2rem;
    line-height: 1.6;
}




.screens_wrapper{
    position: relative;
    padding-top: 2.8vw;
}





.phone_mockup{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    top: -0.25vw;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    pointer-events: none;
}

.phone_mockup img{
    position: relative;
    width: 100%;
    height: auto;
    pointer-events: none;
    transform: scaleY(.99);
}

.phone_mockup img{
    width: 100%;
}


.game_interfaces{
    position: relative;
}

.game_interfaces h1{

}


.gui{
    position: relative;
    margin-bottom: 6.4vw;
}

.gui img{
    width: 41vw;
    height: auto;
    z-index: 9;
    border-radius: 2.2vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.wrapper.button-1 img:nth-of-type(1),
.wrapper.button-2 img:nth-of-type(2),
.wrapper.button-3 img:nth-of-type(3),
.wrapper.button-4 img:nth-of-type(4),
.wrapper.button-5 img:nth-of-type(5),
.wrapper.button-5 img:nth-of-type(6){
    opacity: 1;
}



.game_interfaces .controls{
    display: inline-block;
    position: relative;
    z-index: 9;
    margin-bottom: 6.4rem;
    margin-top: 0;
}

.game_interfaces .controls button{
    padding: 0;
    border: 0;
    background-color: transparent;
    transition: all .35s cubic-bezier(0.65, 0, 0.35, 1);
}

.game_interfaces .controls button{
    margin: 0 2.4rem;
}

.game_interfaces .controls button:hover{
    color: #ff35fe;
}

.game_interfaces .controls button.current{
    color: #ff35fe;
    font-family: 'axiformabold', Geneva, Verdana, sans-serif;
}



@media (max-width: 991px){

    .gui{
        margin-top: 3.3rem;
    }
    
    .screens_wrapper{
        transform: scale(1.5);
    }
    .game_interfaces .controls{
        margin-top: 12vw;
    }

    .game_interfaces .controls button{
        margin: 0.8rem 2.4rem;
    }
}



.purple{
    background-color: #9B59B6;
    background-image: url(../img/purple_blurred.jpg);
    background-size: cover;
    background-position: top;
    color: #fff;
}


@media (max-width: 1199px){
    .purple{

    }
}

#enemies{

}

.card.small .enemies_images{
    width: 100%;
}

.enemies_images .cat{
    width: 100%;
}

.enemies_images .floating{
    position: absolute;
    bottom: 50%;
}

@media (max-width: 991px){
    .enemies_images .floating{
        bottom: 32%;
    }
}

.enemies_images .bat{
    left: 0;
    width: 25%;
    transform: translateX(-25%);
    animation: bat 4s ease-in-out infinite;
}

@keyframes bat {
    0%,100% {
        transform: translateX(-25%) translateY(0);
    }
    50% {
        transform: translateX(-25%) translateY(15%);
    }
  }


.enemies_images .bee{
    right: 0;
    width: 15%;
    transform: translateX(25%);
    animation: bee 6s ease-in-out infinite;
}

@keyframes bee {
    0%,100% {
        transform: translateX(25%) translateY(0);
    }
    50% {
        transform: translateX(25%) translateY(25%);
    }
  }

section,
footer{
    position: relative;
    z-index: 99;
    background: #fff;
}

#slideshow .row.utility{
    background: transparent;
    margin-bottom: 6rem;
}

.GDS_timeline > li.check::after {
    background: #ff35fe;
    background: linear-gradient(270deg, rgba(251,235,175,1) 0%, rgba(255,53,254,1) 100%) !important;
}