html {
    background: #FFF;
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #FFF;
    color: #000;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 160%;
    font-family: "axiformamedium",Helvetica,Helvetica Neue,Arial;
}



@font-face {
    font-family: 'axiformabold';
    src: url('../fonts/kastelov_-_axiforma_bold-webfont.woff2') format('woff2'),
         url('../fonts/kastelov_-_axiforma_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'axiformamedium';
    src: url('../fonts/kastelov_-_axiforma_medium-webfont.woff2') format('woff2'),
         url('../fonts/kastelov_-_axiforma_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'axiformaregular';
    src: url('../fonts/kastelov_-_axiforma_regular-webfont.woff2') format('woff2'),
         url('../fonts/kastelov_-_axiforma_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'axiformablack';
    src: url('../fonts/kastelov_-_axiforma_black-webfont.woff2') format('woff2'),
         url('../fonts/kastelov_-_axiforma_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@media (min-width: 992px){
    nav{
        display: block;
        position: absolute;
        z-index: 3;   
        width: 100%;
    }

    nav li:not(:last-of-type){
        width: 25%;
    }
    
    nav li:last-of-type{
        position: absolute;
        right: 0;
        top: 0;
    }
}



ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    padding: 0;
    margin: 0;
}


h1, h2, h3, h4{
    font-weight: initial;
}

h1{
    font-size: 3.2rem;
    line-height: 3.8rem;
}

@media (max-width: 991px){
    h1{
        text-align: center;
    }
}

h1 strong{
    font-family: "axiformabold",Helvetica,Helvetica Neue,Arial;
    display: block;
}

h2{
    font-size: 2.4rem;
}

@media (min-width: 992px){
    h2{
        font-size: 3.2rem;
        line-height: 1.2;
        font-family: "axiformabold",Helvetica,Helvetica Neue,Arial;
    }
}


.small{
    font-size: 14px;
    color: #4f4f54;
    line-height: 1.4;
}

.xta_small{
    font-size: 10px;
    line-height: normal;
      margin: .8rem 0;
      color: #4f4f54;
  }
  
  h1.jumbo{
      line-height: 1.2;
  }

a,
a:hover,
a:active{
    text-decoration: none;
    transition: all .35s cubic-bezier(0.65, 0, 0.35, 1);
    color: #000;
}


.card .btn + .btn{
    margin-top: 0;
}


.btn{
    color: #000;
    font-size: 1.6rem;
    background: #FED442;
    font-family: "axiformabold",Helvetica,Helvetica Neue,Arial;
    padding: 1.1rem;
    border-radius: 1.2rem;
    display: block;
    text-align: center;
}

@media (min-width: 992px){
    .btn{
        min-width: 240px;
    }
}

.btn.primary{
    background: #000;
    color: #fff;
}



.btn:hover,
.btn:active{
    box-shadow: inset 0px 0px 0px 2px #FF35FE;
    background: #fff;
    color: #000;
}

.btn.disabled{
    background: rgba(0,0,0,.1);
    pointer-events: none;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

@media (max-width: 991px){
    .fake_button{
        color: #000;
        font-size: 1.6rem;
        background: #FED442;
        font-family: "axiformabold",Helvetica,Helvetica Neue,Arial;
        min-width: 240px;
        padding: 1.1rem;
        border-radius: 1.2rem;
        display: block;
        text-align: center;
    }
    
    .fake_button:hover,
    .fake_button:active{
        box-shadow: inset 0px 0px 0px 2px #FF35FE;
        background: #fff;
        color: #000;
    }
}



/* Hero */

#hero .container{
    position: relative;
    z-index: 99;
}

@media (min-width: 992px){
    #hero a:not(.btn){
        text-transform: uppercase;
        font-family: "axiformablack",Helvetica,Helvetica Neue,Arial;
        position: relative;
    }
    
    #hero a:not(.btn)::after{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
    }
}



#hero{
    background: #FED442;
    display: block;
    position: relative;
    padding-top: 5.6rem;
    padding-bottom: 0;
    overflow: hidden;
}


#hero::after{
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center/100% url("../img/bg_wave.svg");
}

#hero .col-lg-12::before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    transform: translateY(20%);
    background: no-repeat center/100% url("../img/logo.png");
}

@media (max-width: 991px){
    #hero::after,
    #hero .col-lg-12::before{
        height: 50%;
        transform: translateY(100%);
    }
}

#hero h1{
    margin-top: 0;
}

figure{
    padding: 0;
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 2;
}

figure img{
    display: block;
    margin: auto;
    width: 66.66%;
    height: auto;
}

@media (min-width: 992px){
    figure img{
        width: auto;
    }

    #hero figure img{
        width: auto;
        height: 70vh;
        min-height: 720px;
    }
}


@media (max-width: 991px){

    figure img{
        margin-top: 3.2rem;
    }

    section{
        padding-top: 0;
        padding-bottom: 0;
    }
}


#hero .hero-image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero figure{
    position: relative;
    width: auto;
}

#hero .animation{
    background: url("../img/hero.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    max-width: 429px;
    height: 100%;
    top: 0;
    left: 0;
    animation-name: sprite; 
    animation-duration: 4s;
    animation-timing-function: steps(6);
    animation-iteration-count: infinite;
    transform: translateY(6%);
}

@keyframes sprite {
    from { background-position: 0px; }
    to { background-position: -2574px; }
  }


#hero figure img{
    opacity: 0;
}

@media (max-width: 991px){
    #hero figure img{
        opacity: 1;
    }
    #hero .animation{
        opacity: 0;
    }
}

/* Card */

.card{
    border-radius: 1.6rem;
    background: #fff;
}

.card.small{
    padding: 4rem 3.6rem;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.15);
}

.card.small figure img{
    width: 100%;
}

.card.small div{
    margin: 4rem auto;
}

@media (min-width: 992px){
    .card.small div{
        width: 50%;
    }
    .card.small figure img{
        width: 75%;
    }
}


.card.large{
    padding: 8rem 7.2rem;
    margin: 5.6rem 0;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media (max-width: 991px){
    #numbers .row div:not(:last-of-type) .card.small{
        margin-top: 5.6rem;
        margin-bottom: 5.6rem;
    }
}






.card.gray{
    background: #F6F6F6;
}

.card.yellow{
    background: #FED442;
}

.centered{
    text-align: center;
}

@media (min-width: 992px){
    .card li{
        display: inline-block;
    }
    
    .card.small .align_right{
        float: right;
    }
    
    .card li:not(:last-of-type) .btn{
        margin-right: 2.4rem;
    }
}

@media (max-width: 991px){
    li:not(:last-of-type) a{
        margin-bottom: 2.4rem;
    }
}


.card h1{
    font-family: "axiformabold",Helvetica,Helvetica Neue,Arial;
}

.card.large p{
    
    color: #2F2D33;
    line-height: 1.5;
}

@media (min-width: 992px){
    .card.large p{
        font-size: 2.4rem;
    }
}

.card.large p .btn{
    margin: 5.6rem 0 0 0
}

.card.large p .btn + .btn {
    margin-top: 3.2rem;
}

.card.large h1{
    margin-bottom: 5.6rem;
}

.card.yellow .btn:not(.primary){
    background: #fff;
}


/* Links Card */

@media (max-width: 991px){
    #links_card{
        padding-top: 5.6rem;
        box-shadow: 0 80px 80px 0 #fff;
        position: relative;
        z-index: 99;
    }
}




@media (min-width: 992px){
    #links_card{
        position: absolute;
        z-index: 99;
        width: 100%;
        transform: translateY(-50%);
        background: transparent;
    }
}

/* FAQs */

.faqs{
    background: no-repeat top center/100% url("../img/bg_blurred.jpg");
    background-size: cover;
    position: relative;
    z-index: 0;
    padding-top: 12rem;
    box-shadow:inset 0 40px 40px 0 #fff;
    position: relative;
    z-index: 99;
}

.faqs .products{
    margin-top: -16%;
}


.faqs .products .card.small div{
    padding: 0;
    margin: 0;
    width: 100%;
}

.faqs .products .card.small .icon{
    width: 96px;
    height: 96px;
    margin: 2.4rem auto 4rem;
}

.faqs .products .icon svg{
    width: 100%;
    height: auto;
    stroke-width: 2;
}


.faqs .products .btn{
    margin-top: 5.6rem;
}

.faqs .products p:last-of-type{
    margin-bottom: 0;
}



@media (max-width: 1199px){
    .card.small{
        margin-bottom: 4rem;
    }
}


.highlights{
    padding-bottom: 12rem;
}


@media (min-width: 992px){
    .faqs{
        padding-bottom: 12rem;
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 20%), no-repeat top center/100% url("../img/bg_blurred.jpg") fixed;
        box-shadow: none;
    }

    .faqs.timeline{
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 20%), linear-gradient(0deg, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 99%),no-repeat top center/100% url("../img/bg_blurred.jpg") fixed;
    }

    .faqs h1,
    h1.jumbo{
        font-size: 5.6rem;
        line-height: 1;
        font-family: "axiformabold",Helvetica,Helvetica Neue,Arial;
    }
}


@media (min-width: 1024px){
    .section-block.sticky{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100vh;
        margin-top: -80px;
        margin-bottom: -80px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}



/* Team */



@media (min-width: 992px){
    .team{
        display: flex;
    }
}

.team_member{
    width: 100%;
    display: block;
    margin-bottom: 5.6rem;
}




@media (min-width: 992px){
    .team_member{
        width: 33.33%;
    }
}


.team_member figure{
    width: 168px;
    height: 168px;
}

.team_member figure img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 100%;
}

.team_member h3{
    font-size: 2rem;
    font-family: "axiformabold",Helvetica,Helvetica Neue,Arial;
    margin: 3.2rem 0 .8rem 0;
}

.card.large .team_member p{
    font-size: 1.6rem;
    font-family: "axiformaregular",Helvetica,Helvetica Neue,Arial;
    margin: 0 0 2.4rem 0;
}

.team_member .btn{
    width: auto;
    margin: auto;
    display: inline-block;
}


#numbers{
    position: relative;
    z-index: 999;
}


.card.large.tournament_card{
    background: url(../img/card_tournament_bg.png);
    background-size: cover;
    color: #fff;
}

.card.large.tournament_card p{
    color: #fff;
}

.card.large.tournament_card h1 img{
    width: 50%;
}

.sr_only{
    display: none;
}


footer p{
    font-size: 1.4rem;
}


.homepage .utility:first-of-type{
    margin-top: 8rem;
}

.homepage .utility:last-of-type{
    margin-bottom: 12rem;
}

.homepage .utility h1 + p + p{
    margin-bottom: 5.6rem;
}

.utility h2{
    background: #f2f6ff;
    /*background: linear-gradient(90deg, rgba(255,53,254,1) 0%, rgba(251,235,175,1) 100%);
    color: white;*/
    background-size: 150%;
    border-radius: 5.6rem;
    padding: 1.6rem;
    box-sizing: border-box;
    transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    display: inline;
    font-size: 2.4rem;
}

.homepage .utility h2{
    background: rgba(255,255,255,.5);
}

@media (max-width: 1023px){
    .homepage .utility h2{
        line-height: 3rem;
    }
}

.utility h2 + p{
    margin-top: 4rem;
}

.utility .items div div:hover{
    border: 2px solid #ffc107;
}

.utility .items div div.active{
    background: #ffc107;
}

.utility div div{
    padding: 2.4rem;
    box-sizing: border-box;
}

.utility .icon{
    width: 100%;
    max-width: 120px;
    display: block;
    margin: auto auto 4rem auto;
    padding: 0;
}

.utility svg{
    width: 100%;
}



.homepage .GDS{
    margin-bottom: 12rem;
}

.GDS_timeline{
    display: flex;
    position: relative;
    margin-top: 4rem;
}
.GDS_timeline > li{
    width: 25%;
    position: relative;
}

.GDS:not(.homepage) .GDS_timeline > li::before{
    content: "";
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 100%;
    display: block;
    margin: auto;
    background: #fbebaf;
    z-index: 1;
    position: relative;
}

.GDS:not(.homepage) .GDS_timeline > li.check::before{
    background: #ff35fe url(../img/check.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.GDS_timeline > li p,
.GDS_timeline > li strong{
    padding: 0 1.6rem;
    box-sizing: border-box;
}

.GDS:not(.homepage) .GDS_timeline > li::after{
    content: "";
    width: 100%;
    height: 1.6rem;
    background: #fbebaf;
    position: absolute;
    top: 2rem;
    left: 0;
    z-index: 0;
}

.GDS_timeline > li.check::after{
    background: #ff35fe;
    background: linear-gradient(270deg, rgba(251,235,175,1) 0%, rgba(255,53,254,1) 100%);
}

.GDS_timeline > li:first-of-type::after{
    width: 50% !important;
    left: 50% !important;
}

.GDS_timeline > li:last-of-type::after{
    width: 50% !important;
}

.GDS_timeline > li strong{
    margin-top: 2.4rem;
    display: block;
    font-size: 1.8rem;
}

@media (max-width: 767px){
    .GDS_timeline{
        display: block;
    }
    .GDS_timeline > li{
        width: 100%;
    }
    .GDS_timeline > li::after{
        border-radius: 2.4rem;
    }
}

.GDS_timeline > li ul{
    padding: 1.6rem;
    box-sizing: border-box;
}

.GDS_timeline > li li{
    position: relative;
    display: block;
    background: rgba(255,255,255,.2);
    padding: .8rem .8rem;
    border-radius: 1.6rem;
    margin: 1.6rem 0;
}


.airdrop figure{
    margin-top: 12rem;
}
.airdrop figure img{
    width: 66.66%;
    transform-origin: top center;
    animation: royalties 5s infinite cubic-bezier(0.37, 0, 0.63, 1);
}

@keyframes royalties {
    0%, 100%{
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(10deg);
    }
  }

.airdrop:last-of-type{
    margin-bottom: 12rem;
}

.airdrop .btn{
    margin-top: 4rem;
}




.royalties_items{
    margin: 5.6rem auto 3.2rem;
}

@media (min-width: 1024px){
    .royalties_items{
        display: flex;
    }

    .royalties_item{
        display: inline-block;
        width: 33.33%;
    }
    .airdrop figure img{
        width: 100%%;
    }
}



.utility.description{
    margin-bottom: 5.6rem;
}

.royalties_button{
    margin-bottom: 8rem;
}
